@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hide; /* Hide scrollbars */
}


header {
    width:100%;
    overflow: hidden;
    background:#760c87;
    text-align: center;
}

.wrapper {
    width:80%;
    margin:auto;
    overflow:hidden;
    text-align: center;
}

header .logo {
    color:#f2f2f2;
    /* font-size: 40px;
    padding: 20px; */
    font-size: 1.5em; /* = 40px / 16px */ 
    padding: 0.6em;   /* Lo encontré por prueba-error*/
}

header nav {
    /* line-height: 40px; */
    line-height: 2.5em;
}

header nav a{
    display: inline-block;
    color:#fff;
    text-decoration:none;
    /* padding: 10px 20px;
    font-size: 15px; */
    padding: 0.3em 0.6em;
    font-size: 1em;
}


footer {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    color: #f2f2f2;
}

body{
    min-height: 100vh;
    justify-content: center;
    
    background: url(../images/img_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    /* background-size: 1920px 1200px; */
    background-size: 100% 100%; 
}


ul.no-bullet{
    list-style-type: none;
}

.seccionContacto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInfo{
    color: #760c87;
    /* padding-left: 50px;
    font-size: 18px;
    max-width: 500px;
    line-height: 50px; */
    padding-left: 1.5em;
    font-size: 1.125em;
    max-width: 500px;
    line-height: 50px;
}

.contactInfo i{
    /*margin-right: 20px;
    font-size: 20px; */
    margin-right: 1.25em;
    font-size: 1.25em;
}

.contactFormulario{
    max-width: 500px;
    margin-right: 50px;
}

.contactInfo, .contactFormulario{
    flex:1;
}

.contactFormulario h2{
    color:#010101;
    text-align: left;
    /* font-size: 20px; */
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contactFormulario .casillaTexto{
    background: #760c87;
    color:#fff;
    border: none;
    width: calc(50%-10px);
    height: 30px;
    padding: 12px;
    /* font-size: 15px; */
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 0 1px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 0.9 ;
}

.contactFormulario textarea{
    background: #760c87;
    color:#fff;
    border: none;
    width: 100%;
    padding: 12px;
    /* font-size: 15px; */
    font-size: 1em;
    border-radius: 5px;
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9 ;
}

.contactFormulario .botonEnviar{
    float: right;
    background: #760c87;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    /* font-size: 15px; */
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contactFormulario .botonEnviar:hover{
    background: #760c87;
}


.colorContacto{
    color: #760c87;
}






section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    padding-top:    4vh;
    padding-bottom: 2vh;
}

h1,h2,p{
    text-align: center;
    color: #090909;
}

.caja{
    color:rgb(156, 0, 228);
    text-align: center;
    border: none;
    padding: 10px;
    /* font-size: 15px; */
    font-size: 1em;
    border-radius: 5px;
    margin:100px; 
    opacity: 0;
    animation: miAnimacion 1.2s forwards;
}




/* ----- Animaciones ----- */
@keyframes miAnimacion {
    from{
        opacity: 0;
        transform: translateX(200%);
    }

    to{
        opacity:0.7;
    }
    
}

@keyframes animarImagen{
    from{
        opacity: 0;
        transform: translateX(200%);
    }

    to{
        opacity:1;
    }
    
}

.caja-1{ animation-delay: 0.0s; }
.caja-2{ animation-delay: 0.5s; }
.caja-3{ animation-delay: 1.0s; }



.carousel-inner img {
    margin: auto;
  }

.textoCarousel{
    color:#000;
}

h5.textoCarousel{
    /* font-size: 26px; */
    font-size: 1.6em;
}

p.textoCarousel{
    /* font-size: 20px; */
    font-size: 1.25em;
}



/* ----- Media queries ----- */

@media (min-width:1600px){
    body {
        /* background: #389fee; */
        background: url(../images/img_background01.jpg);
      
        background-size: cover;
        background-attachment: fixed;
        background-position: left top;
        background-repeat: no-repeat;
        /* background-size: 1920px 1200px; */
        background-size: 100% 100%;  
    }
}

@media screen and (max-width:950px){
    .seccionContacto{
        flex-direction: column;
    }
    .contactFormulario, .contactInfo{
        margin: 20px 50px;
    }

    .contactFormulario h2{
        font-size: 2em;
        text-align: center;    
    }

    .contactFormulario .casillaTexto{
        width: 100%;
    }
    
    section{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (orientation: portrait){
    .seccionContacto{
        flex-direction: column;
    }

    .contactInfo{
        color: #252932;
        padding-left: 1em;
        font-size: 1.125em;
    }

    section{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    body{
        background: url(../images/vertical.jpeg);
        background-size: cover;
    }

    header {
        width:100%;
        overflow: hidden;
        background:#252932;
        text-align: center;
    }
    
    .wrapper {
        width:80%;
        margin:auto;
        overflow:hidden;
        text-align: center;
    }
    
    header .logo {
        color:#f2f2f2;
        font-size: 1.5em;
        padding: 0.6em;
    }
    
        
    header nav a{
        display: inline-block;
        color:#fff;
        text-decoration:none;
        padding: 0.3em 0.6em;
        font-size: 1em;
    }
}

